name: DockBuild and push


on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  watch:
    types: started

jobs:
  build:

    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
    - name: Build and push Docker images
      uses: docker/build-push-action@v1.1.0
      with:
    # Username used to log in to a Docker registry. If not set then no login will occur
       username: ${{ secrets.DOCKER_USERNAME }}
    # Password or personal access token used to log in to a Docker registry. If not set then no login will occur
       password: ${{ secrets.DOCKER_PASSWORD }}
    # Server address of Docker registry. If not set then will default to Docker Hub
       registry: whispin/oneindex-docker
       tags: latest
 
